{%if user:%}
<a href="{{url_for('auth.logout')}}" title="Log out of the system">Logout</a>
<hr />
<div>
  <h3>User Details</h3>
  <p>{{user}}</p>
</div>

<div>
  <h3>Clients</h3>
  {%for client in clients%}
  <p>{{client.client_info|tojson}}</p>
  <p>{{client.client_metadata|tojson}}</p>
  <hr />
  {%endfor%}
</div>
<a href="{{url_for('index.add_client')}}" title="Add a new client">
  Add client
</a>
{%else:%}
<a href="{{url_for('auth.login')}}" title="Log in to the system">Login</a>
{%endif%}