<form method="POST" action="{{url_for('auth.login', next_url=next_url)}}">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" required="required" />

  <br />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" required="required" />

  <br />

  <input type="submit" value="Login" />
</form>